<div class="message-item me">
  <div class="message-item-name">
    <%= message.user.name %>
  </div>
  <div class="message-item-content">
    <%= message.content %>
  </div>

  <% if message.image.file != nil %>
    <div class="message-item-image">
      <%= image_tag message.image.to_s, size: 200 %>
    </div>
  <% end %>
  
</div>