

  <%= form_with(url: notice_path(current_user), method: :delete) do |f| %>
    <%= f.submit '通知を削除する', class: "notices-destroy-btn" %>
  <% end %>
<div class="notices">
  <%= render @notices %>
</div>