<div class="search-form-top">
  <%= render 'search/form' %>
</div>

<div class="search">
  <div class="posts">
    <%= render @posts %>
  </div>

  <div class="users">
    <%= render @users %>
  </div>
</div>