<% if logged_in? %>

<%= render 'posts/form' %>

<div class="space"></div>

<div class="posts">
  <%= render @posts %>
</div>

<% else %>
  <div class="top">
    <div class="top-button">
      <div class="top-button-login">
        <%= link_to 'ログイン', login_path %>
      </div>
      <div class="top-button-signup">
        <%= link_to '新規登録', signup_path %>
      </div>
    </div>
  </div>
<% end %>
