<% if logged_in? %>

<%= render 'posts/form' %>

<div class="space"></div>

<div class="posts">
  <%= render @posts %>
</div>

<% else %>
  <%= link_to '新規登録', signup_path %>
<% end%>

<%= javascript_pack_tag "post-form" %>