<% if room.messages.any? %>
  <div class="room-item room-<%= room.id %>">
      <%= link_to room.id, room_path(room) %>
      <%= render 'messages/count', room: room, current_user: current_user %>
  </div>
<% end %>