.notices {

  &-destroy-btn {
    border: none;
    background-color: #ef2727;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    &:hover {
      background-color: #ef2727bf;
    }
  }

  & .notice-item {
      border-bottom: 1px solid $cSpace;
      padding: 10px;
      display: flex;
      align-items: center;
  
      &-icon img{
        border-radius: 50%;
        border: 1px solid $cSpace;
      }
  
      &-content {
        margin-left: 10px;
      }
  
    }
}